<html>
<head>
    <title>Djdj</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link type="text/css" href="../styles.css" rel="stylesheet" />
    <link href="/dist/sp-bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="/images/favicon.png?v=2">
    <!-- Custom styles for this template -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/lib/jquery-1.11.1.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/underscore-min.js"></script>
    <script src="/js/auth.js"></script>
</head>
<body>
  <h1> GRUNDO! </h1>

  <%= yield %>

</body>
</html>
