
<div class="navbar navbar-default" role="navigation">
  <div class="container">
	<div class="navbar-header">
	  <a class="navbar-brand" href="home.html">
		<span class="navbar-title">Groupify</span>
	  </a>
	</div>
	<div class="navbar-collapse collapse">
	  <a href="http://www.spotify.com" class="btn btn-primary navbar-btn navbar-right">Get Spotify</a>
    </div><!--/.navbar-collapse -->
  </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div id='top' class="jumbotron">
  <div class="container-fluid" id="jumbo-dialog">
    <h1 id='attitle' >Groupify</h1>
	<p  class="lead">  Ensure everyone likes the songs that are playing!</p>
	<p id='ttext'>
	  Enter a list of users, separated by commas:
	</p>
	<div class='intro-form' id='login-form'>
	  <p> To get started, login with your Spotify credentials.</p>
	  <p><a class="btn btn-primary btn-lg" id='login-button' role="button">Login with Spotify</a></p>
	</div>
    <div id="search-form" class="intro-form row">
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
	    <form id="new-playlist" action="/new" method="post">
	      <!-- <input type="text" class="form-control input-lg" id="playlist-terms" placeholder="tommyboi1337, hackerz13, mustardKing" value=""> -->
		  <input type="text" name="playlist_name" class="form-control input-lg" id="playlist-terms" placeholder="Playlist Name">
	      <br>
		  <input id="userInput" type="hidden" name="user_data" />
	      <button class="btn btn-primary btn-lg" id='go' role="button">Create Playlist</button>
		</form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid work">
  <div id='info' class="h1 text-center"></div>

  <div class="results" id='playlist-link'>
    <h1> <a href="#">Here's a playlist for you guys </a> </h1>
  </div>
</div>

<div id="footer">
  <div class="container text-center">
	<p class="text-muted">
		Powered by <a href="http://spotify.com">Spotify</a>.
	</p>
  </div>
</div>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-3675615-45', 'auto');
ga('send', 'pageview');
</script>
