<!-- Main jumbotron for a primary marketing message or call to action -->
<div id='top' class="jumbotron">
  <div class="container-fluid" id="jumbo-dialog">
    <h1 id='attitle' >Djdj</h1>
	<p  class="lead">  You're all set!</p>
	<div class='intro-form' id='login-form'>
	  <p> To get started, login with your Spotify credentials.</p>
	  <p><a class="btn btn-primary btn-lg" id='login-button' role="button">Login with Spotify</a></p>
	</div>
    <div id="search-form" class="intro-form row">
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
	    <form id="new-playlist" action="/view" method="post">
		  <input id="userInput" type="hidden" name="user_data" />
	      <button class="btn btn-primary btn-lg" id='go' role="button">Create Playlist on Spotify!</button>
		</form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid work">
  <div id='info' class="h1 text-center"></div>

  <div class="results" id='playlist-link'>
    <h1> <a href="#">Play list is created. </a> </h1>
  </div>
</div>

<div id="footer">
  <div class="container text-center">
	<p class="text-muted">
		Powered by <a href="http://spotify.com">Spotify</a>.
	</p>
  </div>
</div>

<script src="/js/playlist.js"></script>